
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="pricing">
        <div class="title">
            <h1>PRICING</h1>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="cards">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h3>FREE</h3>
                            <span>0 / month</span>
                            <p>Aida dere</p>
                            <p>
                                Nec feugiat nisl
                            </p>
                            <p>
                                Nulla at volutpat dola
                            </p>
                            <p class="line-text">
                                Pharetra massa
                            </p>
                            <p class="line-text">
                                Massa ultricies mi
                            </p>
                            <button class="btn btn-danger mx-auto"> Buy Now </button>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card card-active">
                            <h3>FREE</h3>
                            <span>0 / month</span>
                            <p>Aida dere</p>
                            <p>
                                Nec feugiat nisl
                            </p>
                            <p>
                                Nulla at volutpat dola
                            </p>
                            <p class="line-text">
                                Pharetra massa
                            </p>
                            <p class="line-text">
                                Massa ultricies mi
                            </p>
                            <button class="btn btn-danger mx-auto"> Buy Now </button>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h3>FREE</h3>
                            <span>0 / month</span>
                            <p>Aida dere</p>
                            <p>
                                Nec feugiat nisl
                            </p>
                            <p>
                                Nulla at volutpat dola
                            </p>
                            <p class="line-text">
                                Pharetra massa
                            </p>
                            <p class="line-text">
                                Massa ultricies mi
                            </p>
                            <button class="btn btn-danger mx-auto"> Buy Now </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="team">
        <div class="title">
            <h1>TEAM</h1>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="cards">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/image/team-1.jpg" alt="">
                            <h5>Wlater White</h5>
                            <small>Chief Executive Officer</small>
                            <small>
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis
                                perspiciatis
                                quaerat qui aut aut aut
                            </small>
                            <div class="social-media mx-auto">
                                <ul>
                                    <li><i class="fa-brands fa-twitter"></i></li>
                                    <li><i class="fa-brands fa-facebook"></i></li>
                                    <li><i class="fa-brands fa-instagram"></i></li>
                                    <li><i class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/image/team-2.jpg" alt="">
                            <h5>Wlater White</h5>
                            <small>Chief Executive Officer</small>
                            <small>
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis
                                perspiciatis
                                quaerat qui aut aut aut
                            </small>
                            <div class="social-media mx-auto">
                                <ul>
                                    <li><i class="fa-brands fa-twitter"></i></li>
                                    <li><i class="fa-brands fa-facebook"></i></li>
                                    <li><i class="fa-brands fa-instagram"></i></li>
                                    <li><i class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/image/team-3.jpg" alt="">
                            <h5>Wlater White</h5>
                            <small>Chief Executive Officer</small>
                            <small>
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis
                                perspiciatis
                                quaerat qui aut aut aut
                            </small>
                            <div class="social-media mx-auto">
                                <ul>
                                    <li><i class="fa-brands fa-twitter"></i></li>
                                    <li><i class="fa-brands fa-facebook"></i></li>
                                    <li><i class="fa-brands fa-instagram"></i></li>
                                    <li><i class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1>CONTACT</h1>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
            </div>
            <div class="contact-tables">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table">
                            <i class="fa-solid fa-location-dot"></i>
                            <h4>Our Address</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="table">
                            <i class="fa-solid fa-envelope"></i>
                            <h4>Email Us</h4>
                            <p>contact@example.com</p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="table">
                            <i class="fa-solid fa-phone-volume"></i>

                            <h4>Call Us</h4>

                            <p>+1 5589 55488 55</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24315.661762859832!2d49.79845618068848!3d40.37654699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030875c8dd7398d%3A0xe4774306a3b6bfc6!2sMega%20City!5e0!3m2!1sen!2s!4v1656502423486!5m2!1sen!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"></label>
                                <input type="text" class="form-control" placeholder="Your Name">

                            </div>
                            <div class=" col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label"></label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Your Email">
                            </div>
                            <div class=" col-md-12 mb-3">
                                <label class="form-label"></label>
                                <input type="text" class="form-control" placeholder="Subject ">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger">Send Message</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</main>


